@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
body {
    margin: 0;
    background-color: #e8c3c3;
    background: linear-gradient(to right,#c8bdbd,#837a7a);
    
}